<script type="text/javascript" src="/static/js/graph.settings.js"></script>
<section class="options" id="graphsettings"> 
    <h3> Graph Settings </h3>
    <div>
        <div id="slider"></div>
        <p class="quiet">
        Sampled Amount: <span id="slidervalue"></span> <br/>
        Data Points: <span id="sliderpoints"></span> <br/>
        JS Rendering Time: <span id="rendertime"></span><br/>
        <span id="pyrendertime"> Python Rendering Time: <span id="pytime"></span> </span>
        </p>
    </div>
</section>
