<script type="text/javascript" src="/static/js/fitting.options.js"></script>
<section class="options" id="options"> 
    <h3> Fitting Types: </h3>
  <ul>

      {% for graph in graphs %}
      <li>
      <input id="{{graph.id}}" {{graph.disabled}} name="graph" type="checkbox" color="{{graph.color}}">
        <label for="{{graph.id}}">{{graph.name}}</label>
        {% if graph.beta %}
        <span class="info" style="padding:0 1em;">BETA</span> 
        {% endif %}
      </li>
      {% endfor %}

  </ul>
</section>
